

body {font-family: 'Inconsolata', monospace; font-size: 14px;}code {background-color: #eee; color: #666; font-family: 'Inconsolata', monospace;}.bookmarklet::before, .red {content: "*"; color: #c4172a;}a:link {border-radius: 2px; color: #0086dd; text-decoration: none;}a:visited {color: #9a4fd7;}a:hover {text-decoration: underline;}a:active {color: #c4172a;}:focus {outline: none; box-shadow: 0 0 0 2px rgba(0,134,221,0.3);}body.silex-runtime {opacity: 1;}
